* {
  bg0     : #0b0b0f;
  bg1     : #1a1a1a;
  bg2     : #222222;
  bg3     : #333333;
  fg0     : #e0e0e0;
  fg1     : #c0c0c0;
  fg2     : #888888;
  red     : #ff5555;
  green   : #50fa7b;
  yellow  : #f5b642;
  blue    : #8be9fd;
  magenta : #ff79c6;
  cyan    : #50fa7b;

  accent: @yellow;
  urgent: @red;
}
